 p {
	color: rgb(0,0,0);
	font-size: 40px;
	font-family: Courier, monospace;
	font-style: italic;
   }
   
   h1 {
   color: brown;
   font-family: Verdana, Arial, Tahoma, Serif;
   } 
  
  #purpleparagraph {
   color: #514518;
   font-size: 20px;
   font-family: verdana;
   }
   #monkeystyle {
	   font-size: 20px;
	   color: FireBrick;
   }
   #monkeytitle {
	   color: #5f0f3d ;
   }